body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

#Layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
    padding: 0 5%; 
    margin: 0 auto; 
    background-color: #fff;
    box-sizing: border-box;
}


#global-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    width: 100%; 
    background-color: #ffffff;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px; 
    height: 34px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 25px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    background: none;
}

.search-bar button {
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
    color: #333;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0;
    margin: 0;
}

nav ul .logo {
    font-weight: bold;
    font-size: 2.3em;
    margin: 30px 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.icons a {
    text-decoration: none;
    color: black;
}

i.fa-regular {
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

i.fa-solid {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: none;
}


/* Media for Desktop */

@media (min-width: 1024px) {
    #global-header {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
        padding: 30px 20px;
        gap: 20px; 
        width: 100%;
    }

    .search-bar {
        max-width: 300px;
    }

    nav {
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 30px; 
    }

    .icons {
        justify-content: flex-end; 
        max-width: 200px; 
        font-size: 1.2rem;
    }
}

#global-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    width: 100%;
}

#box-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
}

#lizard-bilde img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 25px;
}

#header-text {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-end; 
    text-align: right;
    gap: 10px; 
    color: white; 
    padding: 50px; 
    background: rgba(10, 10, 10, 0.2); 
    box-sizing: border-box; 
}

#header-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px; 
    color: white; 
}

#header-text p {
    font-size: 1.2rem;
    margin-bottom: 20px; 
    color: white; 
}

#header-text button {
    padding: 10px 20px;
    height: 100%;
    max-height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: black;
    cursor: pointer;
}

#slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}

#slides {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
}

.slide {
    flex: 0 0 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
}

#slides .slide:nth-child(1) .slide-text {
    text-align: right;
    right: 10%;
    top: 5%;
}

#slider .slide:nth-child(1) .button2{
    right: 10%;
}

#slides .slide:nth-child(2) .slide-text {
    text-align: left;
    left: 10%;
    top: 5%;
}

#slides .slide:nth-child(3) .slide-text {
    text-align: left;
    left: 10%;
    top: 5%;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.slide-text {
    position: absolute;
    bottom: 60px;
    color: white;
    padding: 20px;
    max-width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.slide-text h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.slide-text p {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.slide-text button {
    margin-top: auto;
    align-self: flex-start; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#slider .button2 {
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top: 90%;
    cursor: pointer;
}

#slider #prev {
    position: absolute;
    left: 10px;
    z-index: 10;
    color: black;
    background-color: rgb(180, 180, 180);
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#slider #next {
    position: absolute;
    right: 10px;
    color: black;
    background-color: rgb(180, 180, 180);
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

@media (max-width: 1023px) {
    #slider {
        display: none;
    }

    #box-header {
        display: flex;
    }
}

@media (min-width: 1024px) {
    #box-header {
        display: none;
    }
}





#Populære-produkter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.2rem;
}

#Populære-produkter #header1 {
    text-align: center;
}

#Populære-produkter #header1 h2 {
    font-size: 2rem;
}

#Populære-produkter #header1 p {
    font-size: 1rem;
}

#Populære-produkter nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#Populære-produkter nav a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 10px;
    background-color: white;
    color: black;
    border: 1.5px solid #ccc;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
}

#Populære-produkter nav a.button:hover {
    background-color: black;
    color: white;
}

.Product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.Product-card .Heart-on-picture{
    position: absolute;
    top: 30px; 
    right: 20px; 
    background-color: rgb(143, 143, 143);
    padding: 10px;
    border-radius: 15px;
}

.Product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}

.Product-details {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

.Product-details .product-name a {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.Product-details .product-price {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-align: right; 
}

.Product-reviews {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-size: 1rem;
    color: black;
}

.Product-reviews section {
    display: flex;
    gap: 5px;
}

/* Populære produkter media desktop */

@media (min-width: 1024px) {
    #Product-Row-1{
        display: flex;
        flex-direction: row;
    }

    #Product-Row-2{
        display: flex;
        flex-direction: row;
    }

    #Product-Row-2 .Product-card{
        margin: 1rem;
    }

    #Product-Row-1 .Product-card{
        margin: 1rem;
    }
}


#Populære-kategorier section h2{
    text-align: center;
    font-size: 2rem;
}

#Populære-kategorier section p{
    text-align: center;
    font-size: 1rem;
}
#grid-container_2 {
    display: grid; 
    grid-template-columns: repeat(1, 1fr); /* 1 kolonne, Mobile */
    gap: 1.5rem; 
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#grid-container_2 section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#grid-container_2 section p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Desktop */
@media (min-width: 1024px) {
    #Populære-kategorier #grid-container_2 {
        grid-template-areas:
            "card1 card2 card3"
            "card4 card4 card5";
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .Category-card:nth-child(3) {
        grid-area: card3;
        max-width: 386px;
    }

    .Category-card:nth-child(4) {
        grid-area: card4;
        grid-column: span 2;
        max-width: 864px;
    }

    .Category-card:nth-child(5) {
        grid-area: card5;
        max-width: 300px;
    }
}

/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1023px) {
    #Populære-kategorier #grid-container_2 {
        grid-template-areas:
            "card1 card2"
            "card3 card3"
            "card4 card5";
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .Category-card:nth-child(3) {
        grid-area: card3;
    }

    .Category-card:nth-child(4) {
        grid-area: card4;
    }

    .Category-card:nth-child(5) {
        grid-area: card5;
    }
}

/* Max for mobil */
@media (max-width: 767px) {
    #Populære-kategorier #grid-container_2 {
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5";
        grid-template-columns: 1fr;
    }
}

.Category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.Category-card {
    position: relative; 
    overflow: hidden;
    border-radius: 25px;
    width: 100%;
    height: 300px;
    border: solid black 1px;
}

.Category-card .Kategori-bilder {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: blur(3px); 
    border-radius: 25px; 
}

.Category-card .Kategori1-3{
    width: 100%;
    max-width: 386px;
}

.Category-card .Kategori4{
    width: 100%;
    min-width: 864px;
}

.Category-card .Category-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}


.Anmeldelser {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    margin-bottom: 40px;
}

.Anmeldelser h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left; 
    margin-bottom: 20px;
    width: 100%;
}

.Anmeldelser section {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 20px; 
    padding-bottom: 40px;
}

.Anmeldelser article {
    flex: 0 0 300px;
    width: 100%;
    max-width: 289px;
    background-color: #ffffff;
    border-radius: 15px;
    border: solid black 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    box-sizing: border-box;
}

.Anmeldelser article img {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    object-fit: cover;
}

.Anmeldelser article h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    margin: 0;
    text-align: left;
}

.Anmeldelser article .stars {
    display: flex;
    gap: 5px;
    color: black;
}

.Anmeldelser article p {
    font-size: 0.9rem;
    text-align: left;
    color: #000000;
    margin: 3;
}

#Kontakt {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-sizing: border-box;
    gap: 25px;
}

#Kontakt #Logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Kontakt #Logo h3 {
    font-size: 1.6rem;
    font-weight: bold;
}

#Kontakt #Logo p {
    font-size: 0.9rem;
    color: black;
}

#Kontakt #Kontakt-oss-Snarveier {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: nowrap; 
    width: 100%;
    align-items: flex-start; 
}


#Kontakt #Kontakt-oss {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 65%; 
}

#Kontakt #Kontakt-oss section {
    display: flex;
    align-items: flex-start; 
    gap: 10px;
}

#Kontakt #Kontakt-oss section i {
    font-size: 1.2rem;
    color: black;
}

#Kontakt #Kontakt-oss section h4,
#Kontakt #Kontakt-oss section p {
    font-size: 0.9rem;
    color: black;
    margin: 0;
}

#Kontakt #Snarveier {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%; 
    align-items: flex-start; 
}

#Kontakt #Snarveier a {
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
}

#Kontakt #Sosiale-medier {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 30%;
    align-items: flex-start; 
}

#Kontakt #Sosiale-medier h3 {
    font-size: 1.2rem;
    display: flex;
}

#Kontakt #Sosiale-medier section {
    display: flex; 
    gap: 15px; 
}

#Kontakt #Sosiale-medier section a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

@media (min-width: 1024px) {
    #Kontakt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 15px;
        background-color: #fff;
        box-sizing: border-box;
        gap: 25px;
    }

    #Kontakt-oss-Snarveier-Sosiale-medier {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
        width: 100%;
        display:flex;
        flex-direction: row;
    }
}

/* Check out siden nedover */

#Fortsett-handlingen a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

#Fortsett-handlingen a i {
    color: purple;
}

#Kasse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6rem;
}

#Kasse h2{
    font-weight: bold;
    font-size: 2rem
}

#Shopping-bag {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
}

#Shopping-bag h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#Shopping-bag article img {
    width: 100%;
    max-width: 70%;
    margin-top: 50px;
}

#Shopping-bag .Product-details-2 {
    padding: 1.3rem;
    flex-grow: 1; 
    margin-top: 30px;
    margin-bottom: 30px;
}

#Shopping-bag .Product-details-2 h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

#Shopping-bag .Product-details-2 p {
    font-size: 0.8rem;
    font-weight: bold;
}

#Shopping-bag .Product-details-2 .size {
    width: 20%;
    height: 40px;
    border: none;
}

#Shopping-bag .Product-details-2 .quantity {
    width: 20%;
    height: 40px;
    border: solid rgb(207, 207, 207) 0.5px;
}

#Shopping-bag .Product-details-2 #Product-ikoner{
    padding: 2rem;
}

#Information {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
}

#Information h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

#Information #fornavn {
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

#Information #etternavn {
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

#Information #gateadresse {
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

#Information #postnummer {
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

#Information #poststed {
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

#Information #epost{
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
#Information #telefon{
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

#Information #Lagre-Avbryt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#Information section button{
    width: 90%;
    height: 50px;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #474747;
    color: white;
}

#Information #Lagre-Avbryt #cancel{
    color: blue;
}

#Levering{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
}

#Levering h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

#Express-hjemlevering{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
}
#Express-pakke-levering{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
}
#Standard-levering{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
}

.levering-ikoner{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#Betaling{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
}

#Betaling h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

#Betaling #Betaling-ikon{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

#Betaling #kortnummer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
    font-weight: bold;
}

#Betaling #utløps-dato{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}
    


#Betaling #cvv{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    padding: 1.5rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 15px;
    font-weight: bold;
}

#Betaling #Box-kjop{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border: solid rgb(228, 228, 228) 1px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 30px;
}

#Betaling #Box-kjop #Betaling-Bekreft-Kjoop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Betaling #Box-kjop section p{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
}

#Betaling #Box-kjop section #antall-penger{
    font-size: 1.8rem;
    font-weight: bold;
}

#Betaling #Box-kjop section button{
    font-size: 1.2rem;
    width: 100%;
    height: 60px;
    background-color: #474747;
    color: white;
    border: none;
}

#Betaling #Box-kjop #nyhetsbrev{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#Betaling #Box-kjop #tilbud{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

/* Desktop Media Checkout siden */

@media (min-width:1024px){

    #Shopping-bag{
        padding: 5rem;
    }

    #Shopping-bag .Product-details-2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    #Shopping-bag .Product-details-2{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50%;
    }

    #Shopping-bag article{
        display: flex;
        flex-direction: row;
    }

    #Shopping-bag article img{
        width: 100%;
        max-width: 30%;
        margin-bottom: 30px;
    }
    
    #Shopping-bag .Product-Ikoner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    #Information{
        padding: 5rem;
        display: flex;
        flex-direction: column;
    }

    #Information #fornavn{
        display: flex;
        flex-direction: column;
    }

    #Information #etternavn{
        display: flex;
        flex-direction: column;
    }

    #Information .Information-Label-Layout{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    #Information .Information-Label-Layout .align-items-above{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50%;
    }

    #Levering {
        padding: 5rem;
    }
    
    #Levering .Levering-Desktop {
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
        justify-content: space-between;
    }
    
    #Levering .Levering-Desktop label {
        display: flex;
        align-items: center; 
        margin-right: 1rem; /
    }
    
    #Levering .Levering-Desktop .Levering-Text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #Levering .Levering-Text h4 {
        margin: 0; 
    }
    
    #Levering .Levering-Text p {
        margin-top: 0.5rem; 
        color: #474747;
        font-weight: bold;
    }
    
    #Levering .Levering-Desktop .levering-ikoner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem; 
    }

    #Betaling{
        padding: 5rem;
    }

    #Betaling .Information-Label-Layout{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    #Betaling .Information-Label-Layout .align-items-above{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50%; 
    }

    #Betaling #Box-kjop #Betaling-Bekreft-Kjoop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#Layout-Checkout{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Product-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#Product-info #broodsmulesti #Produktnavn1 a{
    font-weight: bold;
}

#broodsmulesti{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

#broodsmulesti ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0;
    margin: 0;
}

#broodsmulesti ul li a{
    color: black;
    text-decoration: none;

}

#broodsmulesti ul li{
    list-style: none;
}

#Bilde-seksjon-product{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#Bilde-seksjon-product #stort-bilde{
    gap: 15px;
}

#Bilde-seksjon-product #stort-bilde img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Bilde-seksjon-product #mindre-bilder{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#Bilde-seksjon-product #mindre-bilder img{
    width: 100%;
    gap: 15px;
}

#Product-info-section h3{
    font-size: 1.3rem;
    font-weight: bold;
}

#Product-info-section a{
    color: rgb(104, 104, 104);
}

#Product-info-section #Product-info-section-2{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#Product-info-section #Product-info-section-farge{
    font-size: 1rem;
}

#Product-info-section #Product-info-section-beige{
    font-size: 1rem;
    font-weight: bold
}

#Velg-størrelse-handlekurv-hjerte {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
}

#Velg-størrelse-handlekurv-hjerte #velg-størrelse-2 #velg-størrelse{
    width: 100%;
    height: 50px;
    border: solid black 1px;
}

#Legg-til-handlekurv-hjerte {
    display: flex;
    width: 100%; 
    gap: 10px; 
}

#Legg-til-handlekurv-button {
    flex: 1;
}

#Legg-til-handlekurv-button button {
    width: 100%; 
    background-color: black;
    color: white;
    height: 50px;
    font-weight: bold;
    border: none; 
}

#Handlekurv {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    width: 50px; 
    height: 50px; 
}

#details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    width: 100%;
}

#details .section-details{
    border-top: solid black 1px;
    width: 100%;
    margin-top: 20px;
}

.detail-section {
    padding: 1.5rem
}

.detail-section summary {
    position: relative;
    list-style: none; 
    padding-left: 20px; 
    font-weight: bold;
}

.detail-section summary::-webkit-details-marker {
    display: none;
}

.detail-section summary::before {
    content: "+"; 
    position: absolute;
    left: 0;
    top: 0;
}

.section-details #detail-section-2 #Styling-anmeldelser-details-ikoner{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.section-details #detail-section-2 #Styling-anmeldelser-details{
    display: flex;
    justify-content: space-between;
}

.section-details #detail-section-2 #box-anmeldelser{
    border: 1px rgb(175, 175, 175) solid;
    border-radius: 25px;
    padding: 1.5rem;
}

#Lignende-produkter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
}

#Lignende-produkter #arrow-justering i {
    color: rgb(90, 1, 90);
}

#Lignende-produkter #Lignende-produkter-bilder-layout {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 15px; 
    padding: 10px;
    box-sizing: border-box;
}

#Lignende-produkter #Lignende-produkter-bilder-layout article {
    position: relative; 
    width: 250px;
    box-sizing: border-box;
}

#Lignende-produkter #Lignende-produkter-bilder-layout article img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

#Lignende-produkter #Lignende-produkter-bilder-layout .Heart-on-picture {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: rgb(143, 143, 143); 
    border-radius: 25%;
    padding: 5px; 
}

#Lignende-produkter #Lignende-produkter-bilder-layout .Lignende-produkter-product-name-kr{
    display: flex;
    justify-content: space-between;
}

#Lignende-produkter #Lignende-produkter-bilder-layout .Lignende-produkter-reviews{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Desktop Media for Product siden */

@media (min-width: 1024px) {
    #Layout-Desktop {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px; 
    }

    #Bilde-seksjon-product {
        flex: 0 0 50%; 
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    #mindre-bilder {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #mindre-bilder img {
        width: 120px;
        height: 140px;
        cursor: pointer;
        border-radius: 5px;
        object-fit: cover; 
    }

    #stort-bilde {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #stort-bilde img {
        width: 100%;
        max-height: 700px; 
        height: auto;
        border-radius: 10px;
        object-fit: cover; 
    }

    #Layout-Desktop-Produkt-Info-Details {
        flex: 1.5; 
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }

    #Product-info-section, #Velg-størrelse-handlekurv-hjerte, #details {
        margin-bottom: 20px; 
    }

    #Lignende-produkter #Layout-Desktop-Tittel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 500px;
    }
}




